APP_URL=http://localhost:3000
MAIL_SERVICE=gmail
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password_de_gmail
ADMIN_REGISTER_CODE=POWERADMIN2026
GOOGLE_MAPS_API_KEY=tu_api_key_de_maps
YOUTUBE_API_KEY=tu_api_key_de_youtube
PAYMENT_PROVIDER=demo
PAYMENT_SECRET_KEY=
